name: Compile MRS

on:
  push:
    paths:
      - '**.yaml'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Download and Setup Mihomo
        run: |
          wget -O mihomo.gz https://github.com/MetaCubeX/mihomo/releases/download/v1.18.1/mihomo-linux-amd64-v1.18.1.gz
          gunzip mihomo.gz
          chmod +x mihomo

      - name: Compile Binance Rule
        run: |
          ./mihomo convert-ruleset domain yaml binance.yaml binance.mrs

      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add binance.mrs
          git commit -m "Auto update MRS" || exit 0
          git push
